{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Take Control of Your Time</h1>
        <p class="lead">Boost your focus, reduce anxiety, and achieve more — one task at a time.</p>
        <p class="lead">
            {% if user.is_authenticated%}
          <a href="{% url 'manage_task' %}" class="btn btn-lg btn-secondary">Jot down your tasks </a>
          {% else %}
          <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Register Yourself </a>
          {% endif %}
        </p>
      </main>

{% endblock %}

